:root {
  --gray-100: #ffffff;
  --gray-200: #e1e1e1;
  --gray-400: #8e8e8e;
  --gray-800: #0f111a;

  --blue-800: #1c53bd;

  --primary: var(--gray-100);
  --secondary: var(--gray-800);
  --tertiary: var(--gray-400);

  --font-family-main: Inter, system-ui, Avenir, Helvetica, Arial;
  --primary-font-weight: 400;
}
