:root {
  --gray-100: #ffffff;
  --gray-200: #e1e1e1;
  --gray-400: #8e8e8e;
  --gray-800: #0f111a;

  --blue-800: #1c53bd;

  --red-800: #cf000f;

  --primary: var(--gray-100);
  --secondary: var(--gray-800);
  --tertiary: var(--gray-400);
  --disabled: var(--gray-400);
  --warning: var(--red-800);
  --accent-primary: var(--blue-800);

  --font-family-main: Inter, system-ui, Avenir, Helvetica, Arial;
  --primary-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-main), sans-serif;
  font-size: 16px;
  font-weight: var(--primary-font-weight);
  color: var(--secondary);
  background-color: var(--secondary);
  background-image: url(./assets/mountains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  height: 73vh;
  margin: 0 auto;
  background-color: rgb(from var(--primary) r g b / 60%);
  border-radius: 1rem;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

select {
  width: fit-content;
}

ul {
  list-style: none;
}

input {
  cursor: auto;
}

button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
